@font-face {
  font-family: 'F25_Bank_Printer';
  src: local('F25'), url('./fonts/F25_Bank_Printer.otf') format('opentype');
  font-weight: 400;
  font-style: monospace;
}

body {
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  /* position: absolute!important; */
  display: grid; 
  grid-template-columns: 50% 50%;
  font-size: calc(6px + 1vmin)!important;
}

.form-group {
  margin-top: 1em;
  margin-left: 1em;
}

img#loading {
  display: none;
  width: 3em;
  position: relative;
  align-self: flex-end;
  top: 10em;
  left: -1em;
  /* z-index: 999; */
}

div#panel-right {
  position: relative;
  float: right;
  margin-left: 5%;
  margin-top: 4em;
  /* border-left: 3px solid black; */
  display: grid; 
  grid-template-columns: 80%!important;
}

#explainer-text {
  /* margin-top: 1em; */
  margin-bottom: 1em;
  margin-left: 2em;
  border-bottom: 0.5px dashed black;
  vertical-align: middle;
}
#explainer-text:last-child {
  border-bottom: 0px;
}

@media(max-width:900px){
  body {
    grid-template-columns: 100%;
  }
  div#panel-left {
    margin-left: 0em!important;
  }
}

div#panel-left {
  position: relative;
  float: left;
  margin-top: 4em;
  margin-left: 4em;
  display: grid; 
  grid-template-columns: 12em 12em!important;
  grid-template-rows: 2em 2em 2em 2em 2em 8em;
  text-align: left;
  align-items: center;
}

.choices {
  border: solid #000000 2px!important;
  background-color: #fff;
  /* z-index: 999; */
  margin: 0em!important;
  height: 100%;
  font-size: calc(6px + 0.8vmin)!important;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0em!important;
  font-size: calc(6px + 0.8vmin)!important;
}

.choices[data-type*=select-one] {
  padding: 0em!important;
  background-color: white!important;
  font-size: calc(6px + 0.8vmin)!important;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #3cff00!important;
  font-size: calc(6px + 0.8vmin)!important;
}

.choices__inner,
.is-open .choices__inner {
  border-color: transparent!important;
  background-color: white!important;
  padding: 0em!important;
  width: 95%!important;
  font-size: calc(6px + 0.8vmin)!important;
}

.is-open .choices__list--dropdown, 
.is-open .choices__list[aria-expanded] {
  border: solid black 2px!important;
  font-size: calc(6px + 0.8vmin)!important;
}

option{
  color: yellow!important;
}

* :checked {
  background-color: transparent;
  font-size: calc(6px + 0.8vmin)!important;
}

input#cards-in-deck {
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  font-size: calc(6px + 1vmin);
  height: 100%;
  border: solid #000000;
  * {
    color: #000000;
  }
}

div#submit {
  align-self: flex-end;
  font-size: calc(6px + 1vmin)!important;
}

button#submit-button {
  margin-top: 2em;
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  background-color: transparent;
  transition: 0.3s;
  border-style: solid;
  font-size: calc(6px + 1vmin)!important;
}

button#submit-button:hover {
  background-color: #3cff00;
}

* .form-control {
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

img#loading {
  /* margin-top: 0.7em; */
  width: 15em;
  position: absolute;
}

label#min-max-piles {
  /* margin-top: 2.3em; */
  position: relative;
}

a#min-pile,
a#max-pile {
  pointer-events: none;
  color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
.slider-container {
  position: relative;
  /* margin-top: 1em; */
  /* width: 12em; */
  height: 2em;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 98%;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.slider-track {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  /* border-radius: 2px; */
  border: solid black 2px;

  background-color: rgb(255, 255, 255);
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 100%;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 1px;
}
input[type="range"]::-ms-track {
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 15%;
  background-color: black;
  cursor: pointer;
  /* margin-top: -3.7px; */
  pointer-events: auto;
  /* border-radius: 5%; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background-color: #3cff00;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: #3cff00;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.values {
  background-color: #000000;
  width: 32%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: calc(6px + 1vmin);
  color: #ffffff;
  font-size: calc(6px + 0.8vmin)!important;
}

p#result {
  padding-top: 1em;
  overflow: visible;
  width: 40em;
}
