@font-face {
  font-family: 'F25_Bank_Printer';
  src: local('F25'), url('./fonts/F25_Bank_Printer.otf') format('opentype');
  font-weight: 400;
  font-style: monospace;
}


body {
  font-size: calc(5px + 1vmin);
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

.form-group {
  margin-top: 1em;
  margin-left: 1em;
}

img#loading {
  display: none;
  width: 3em;
}

div#panel {
  margin-top: 4em;
  margin-left: 3em;
  display: grid; 
  grid-template-columns: 12em 12em!important;
}

div#submit {
  margin-left: 3em;
}

button#submit-button {
  margin-top: 1em;
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}


header {
  margin: 0;
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

* .form-control {
  font-family: F25_Bank_Printer, monospace!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}


img#loading {
  margin-top: 0.7em;
}
