<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='simulation.css') }}">
    <script>
      async function fetchResult() {
          const strat_dropdown = document.getElementById('strat_select');
          const scorer_dropdown = document.getElementById('scorer_select');
          const max_shuffles_dropdown = document.getElementById('max_shuffles_select');

          const selected_strat = strat_dropdown.value;
          const selected_scorer = scorer_dropdown.value;
          const selected_max_shuffles = max_shuffles_dropdown.value;
  
          document.getElementById('result').textContent = "";
          document.getElementById('submit-button').style.display = 'none';
          document.getElementById('loading').style.display = 'block';
  
          const response = await fetch(`/calculate?selected_strat=${selected_strat}&selected_scorer=${selected_scorer}&selected_max_shuffles=${selected_max_shuffles}`);
          const data = await response.json();
  
          document.getElementById('loading').style.display = 'none';
          document.getElementById('submit-button').style.display = 'block';
          document.getElementById('result').textContent = `Result: ${data.result}`;
      }
    </script>
</head>
<body>
  <div id="panel">
    <span class="input-group-addon">Shuffle Strategy: </span>
    <select id="strat_select" name="strat_select" class="selectpicker form-control">
      {% for s in strats %}
        {%if selected_strat==s.name%}
        <option name="option" value="{{ s.name }}" selected>{{ s.name }}</option>
        {% else %}
        <option name="option" value="{{ s.name }}">{{ s.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <span class="input-group-addon">Scorer Type: </span>
    <select id="scorer_select" name="scorer_select" class="selectpicker form-control">
      {% for s in scorers %}
        {%if selected_scorer==s.name%}
        <option name="option" value="{{ s.name }}" selected>{{ s.name }}</option>
        {% else %}
        <option name="option" value="{{ s.name }}">{{ s.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <span class="input-group-addon">Max Shuffles: </span>
    <select id="max_shuffles_select" name="max_shuffles_select" class="selectpicker form-control">
      {% for s in max_shuffles %}
        <option name="option" value="{{ s }}">{{ s }}</option>
        {%if selected_max_shuffles==s%}
        <option name="option" value="{{ s }}" selected>{{ s }}</option>
        {% else %}
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div id="submit">
    <button id="submit-button" name="submit-button" onclick="fetchResult()">Submit</button>
    <img id="loading" name="loading" src="{{url_for('static', filename='loading.gif')}}" alt="" />
    <p id="result">--></p>
  </div>
</body>
</html>