<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="favicon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='simulation.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript">
      let sliderMin, sliderMax, minPile, maxPile, minPileLeft, maxPileLeft, sliderLeft, sliderWidth, sliderMaxValue;
      let scorerExplainer, stratExplainer;
      document.addEventListener('DOMContentLoaded', () => {
        explainers = JSON.parse("{{explainers}}".replaceAll("&#39;", "\""));
        sliderMin = document.getElementById('slider-1');
        sliderMax = document.getElementById('slider-2');
        minPile = document.getElementById("min-pile");
        maxPile = document.getElementById("max-pile");
        minPileLeft = minPile.offsetLeft;
        maxPileLeft = maxPile.getBoundingClientRect().left;
        sliderLeft = document.getElementById('slider-wrapper').offsetLeft;
        sliderWidth = document.getElementById('slider-wrapper').offsetWidth;
        sliderMaxValue = sliderMin.max;

        scorerExplainer = document.getElementById('scorer-explainer');
        stratExplainer = document.getElementById('strat-explainer');

        const stratSelect = new Choices('#strat_select', { searchEnabled: false, itemSelectText: '' });
        const scorerSelect = new Choices('#scorer_select', { searchEnabled: false, itemSelectText: '' });
        const maxShufflesSelect = new Choices('#max_shuffles_select', { searchEnabled: false, itemSelectText: '' });

        slideLeft();
        slideRight();

        const sliderTop = document.getElementById('slider-wrapper').offsetTop;
        const sliderHeight = document.getElementById('slider-wrapper').getBoundingClientRect().height;
        minPile.style.top = `${sliderTop + (sliderHeight/3)}px`;;
        maxPile.style.top = `${sliderTop + (sliderHeight/3)}px`;

        explainStrat();
        explainScorer();

        resetPileTops();

        window.addEventListener('resize', function() {
          minPileLeft = minPile.offsetLeft;
          maxPileLeft = maxPile.getBoundingClientRect().left;
          sliderLeft = document.getElementById('slider-wrapper').offsetLeft;
          sliderWidth = document.getElementById('slider-wrapper').offsetWidth;
          slideLeft();
          slideRight();
          resetPileTops();
        });
      });

      function resetPileTops() {
        const sliderTop = document.getElementById('slider-wrapper').offsetTop;
        const sliderHeight = document.getElementById('slider-wrapper').getBoundingClientRect().height;
        minPile.style.top = `${sliderTop + (sliderHeight/3)}px`;;
        maxPile.style.top = `${sliderTop + (sliderHeight/3)}px`;
      }

      async function fetchResult() {
          const deck_size = document.getElementById('cards-in-deck').value;
          const selected_strat = document.getElementById('strat_select').value;
          const selected_scorer = document.getElementById('scorer_select').value;
          const selected_max_shuffles = document.getElementById('max_shuffles_select').value;

          if (selected_max_shuffles > 3) {
            document.getElementById('result').textContent = "";
            document.getElementById('submit-button').style.display = 'none';
            document.getElementById('loading').style.display = 'block';
          } 
  
          const response = await fetch(
            `/calculate?deck_size=${deck_size}&selected_strat=${selected_strat}&selected_scorer=${selected_scorer}&selected_max_shuffles=${selected_max_shuffles}&min_num_piles=${sliderMin.value}&max_num_piles=${sliderMax.value}`
          );
          const data = await response.json();
  
          document.getElementById('loading').style.display = 'none';
          document.getElementById('submit-button').style.display = 'block';
          document.getElementById('result').textContent = `Pile Sequence: ${data.result}`;
      }

      function slideLeft() {
        if (parseInt(sliderMax.value) - parseInt(sliderMin.value) < 3) {
          sliderMax.value = parseInt(sliderMax.value) + 1;
          sliderMin.value = parseInt(sliderMax.value) - 3;
          slideRight();
        } else if (parseInt(sliderMax.value) - parseInt(sliderMin.value) >= 10) {
          sliderMax.value = parseInt(sliderMax.value) - 1;
          slideRight();
        }

        minPile.textContent = sliderMin.value;
        
        const adjuster = sliderMin.value >= 10 ? 12 : 7;
        const percent = (sliderMin.value / sliderMaxValue);
        minPile.style.left = `${sliderLeft + (percent*(sliderWidth-15))-adjuster}px`;
      }

      function slideRight() {
        if (parseInt(sliderMax.value) - parseInt(sliderMin.value) < 3) {
          sliderMin.value = parseInt(sliderMin.value) - 1;
          sliderMax.value = parseInt(sliderMin.value) + 3;
          slideLeft();
        } else if (parseInt(sliderMax.value) - parseInt(sliderMin.value) >= 10) {
          sliderMin.value = parseInt(sliderMin.value) + 1;
          slideLeft();
        }
        maxPile.textContent = sliderMax.value;
        
        const adjuster = sliderMax.value >= 10 ? 12 : 7;
        const percent = (sliderMax.value / sliderMaxValue);
        maxPile.style.left = `${sliderLeft + (percent*(sliderWidth-15))-adjuster}px`;
      }

      function colorLeft(color) {
        minPile.style.color = color;
      }
      function colorRight(color) {
        maxPile.style.color = color;
      }

      function explainStrat() {
        const val = document.getElementById('strat_select').value;
        stratExplainer.textContent = explainers[val];
      }
      function explainScorer() {
        const val = document.getElementById('scorer_select').value;
        scorerExplainer.textContent = explainers[val];
      }
    </script>
</head>
<body>
  <div id="panel-left">
    <label>cards in deck:</label>
    <input type="number" id="cards-in-deck" name="cards-in-deck" min="10" max="1000" step="10" value="100">
    <label id="min-max-piles" name="min-max-piles">
      pile size range:
    </label>
    <div id="slider-wrapper" class="slider-wrapper">
      <div class="slider-container">
        <div class="slider-track"></div>
        <input type="range" min="2" max="20" value="5" id="slider-1" oninput="slideLeft()" onmouseenter="colorLeft('black')" onmouseleave="colorLeft('white')">
        <input type="range" min="2" max="20" value="10" id="slider-2" oninput="slideRight()" onmouseenter="colorRight('black')" onmouseleave="colorRight('white')">
      </div>
    </div>
    <span class="input-group-addon">max shuffles: </span>
    <select id="max_shuffles_select" name="max_shuffles_select" class="selectpicker form-control">
      {% for s in max_shuffles %}
        <option name="option" value="{{ s }}">{{ s }}</option>
      {% endfor %}
    </select>
    <span class="input-group-addon">shuffle strategy: </span>
    <select id="strat_select" name="strat_select" class="selectpicker form-control" onchange="explainStrat()">
      {% for s in strats %}
        <option name="option" value="{{ s.name }}">{{ s.name }}</option>
      {% endfor %}
    </select>
    <span class="input-group-addon">scorer type: </span>
    <select id="scorer_select" class="selectpicker form-control" onchange="explainScorer()">
      {% for s in scorers %}
        <option name="option" value="{{ s.name }}">{{ s.name }}</option>
      {% endfor %}
    </select>
    <div id="submit">
      <button id="submit-button" name="submit-button" onclick="fetchResult()">Submit</button>
      <img id="loading" name="loading" src="{{url_for('static', filename='loading.gif')}}" alt="" />
      <p id="result">--></p>
    </div>
    <a id="max-pile">10</a>
    <a id="min-pile">3</a>
  </div>
  <div id="panel-right">
    <a id="explainer-text"><p>cards in deck: </p></a>
    <a id="explainer-text"><p>pile size range: </p></a>
    <a id="explainer-text"><p id="strat-explainer"></p></a>
    <a id="explainer-text"><p id="scorer-explainer"></p></a>
  </div>
</body>
</html>